<div class="row">
  <!--Jogos-->
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well infobox">
      <fieldset>

        <div class="row">
          <div class="col-xs-12">
            <h3 class="pull-left">Jogos do dia</h3>
          </div>
        </div>
        <hr class="custom-hr" />

        <!--Componente de jogos-->
        <app-scoreboard [games]="lstGames" [controlsEvent]="[
                    { name: 'Palpite', icon: 'help_outline', action: EVENT_MODAL_TIP }
                    ]">
        </app-scoreboard>

        <!--Modal de Eventos-->
        <app-home-event></app-home-event>

      </fieldset>
    </div>
  </div>

  <!--Palpites Realizados-->
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well infobox">
      <fieldset>

        <div class="row">
          <div class="col-xs-12">
            <h3 class="pull-left">Palpites do dia</h3>
            <button type="button" class="btn btn-raised btn-primary pull-right" (click)="newEvent()">
              <i class="material-icons">add</i>
              <span class="hidden-xs">&nbsp;Novo Palpite</span>
            </button>
          </div>
        </div>
        <hr class="custom-hr" />

        <!--Componente de palpites-->
        <app-tip [tips]="lstTipsOfDays"></app-tip>

      </fieldset>
    </div>
  </div>
</div>
