<div class="row">
  <div class="col-xs-12">

    <div *ngIf="lstTips.length <= 0">
      <span>Nenhum palpite realizado hoje.</span>
    </div>


    <div *ngIf="lstTips.length > 0">
      <div *ngFor="let item of lstTips | paginate: { itemsPerPage: 10, currentPage: p }">
        <div class="event">
          <app-status-tip [status]="item.StatusID"></app-status-tip>

          <span>{{ item.TeamPrincipal }}</span>
          <span>X</span>
          <span>{{ item.TeamVisitor }}</span>
        </div>
        <table class="table table-striped table-hover">
          <tbody>
            <tr *ngFor="let tip of item.Tips">
              <app-status-tip [status]="tip.StatusID"></app-status-tip>

              <td> {{ tip.Market }} </td>
              <td> {{ tip.Odds }} </td>
              <td> {{ tip.Value }} </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>
</div>
