<h2>Acompanhamento</h2>

<div class="row">
  <div class="col-xs-12">
    <div class="well infobox">

      <fieldset>
        <legend>Filtro</legend>

        <!--<form class="col-xs-12" novalidate [formGroup]="tipFilterModel">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
              <label for="txtValue" class="control-label">Valor</label>
              <input type="text" formControlName="Value" />
            </div>
          </div>
        </div>
      </form>-->
      </fieldset>

      <!--Componente de palpites-->
      <app-tip [tips]="lstTips"></app-tip>
    </div>
  </div>
</div>
