<app-menu></app-menu>
<!--
<app-preloader></app-preloader>

<div id="main-app" class="container-fluid">
    <router-outlet></router-outlet>
</div>-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group has-error label-floating">
        <label for="f3" class="control-label">Email address has-error</label>
        <input type="email" class="form-control" id="f3">
        <span class="help-block">Please enter a valid email address</span>
      </div>
    </div>
  </div>
</div>