<div class="row">
  <div id="panel-login" class="col-xs-12 col-sm-8 col-md-4 col-lg-4 col-sm-offset-2 col-md-offset-4 col-lg-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Bet help</h3>
        <span class="title">Iniciar sessão</span>
      </div>
      <div class="panel-body">
        <form class="col s12" novalidate [formGroup]="FormLogin">
          <div class="form-group label-floating is-empty">
            <label for="txtemail" class="control-label">
              <!--<i class="material-icons prefix">account_circle</i>-->
              Digite seu e-mail
            </label>
            <input id="txtemail" class="form-control" type="email" formControlName="Email" required />
            <display-validation [control]="FormLogin.controls.Email"></display-validation>
          </div>

          <div class="form-group label-floating is-empty">
            <label for="txtpassword" class="control-label">
              <!--<i class="material-icons prefix">vpn_key</i>-->
              Digite sua senha
            </label>
            <input id="txtpassword" type="password" class="form-control" formControlName="Password" minlength="4" />
            <display-validation [control]="FormLogin.controls.Password"></display-validation>
          </div>

          <div class="row" style="margin-bottom:0px">
            <div class="col-xs-12">
              <button class="btn btn-primary pull-right" [disabled]="!FormLogin.valid" (click)="submit()">Acessar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<p>Form value: {{ FormLogin.value | json }}</p>
<p>Form status: {{ FormLogin.status | json }}</p>-->
