/* You can add global styles to this file, and also import other style files */
body{ background-color: rgba(238, 238, 238, 0.55);}
h3 > small { font-size: 55%; }

.md-18 { font-size: 18px !important; }
.md-24 { font-size: 24px !important; }
.margin-top-15{ margin-top: 15px; }
.text-red{ color: red; }
.visible-hidden{ visibility: hidden; }
.message-warning{ background-color: gray; }
.message-success{ background-color: green; }
.message-error{ background-color: red; }
.message-info{ background-color: blue; }
.form-group .form-control { margin-bottom: 3px; }
.pre-loader {
    border: 6px solid #f3f3f3; border-radius: 50%; border-top: 6px solid #009688; width: 55px; height: 55px;
    -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; margin: auto; position: sticky; vertical-align: middle; top: 40%;
}
.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label{
  font-size:15px;
}
.prefix { float: left; margin-top: -4px; margin-right: 5px; }
#panel-login{ transform: translateY(25%); position: absolute; }

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.text-time { font-weight: 600; display: inline-block; vertical-align: middle; line-height: normal; }
.scoreboard { line-height: 45px; }
.scoreboard-button { color: black}
.dropdown-menu>li>a { padding: 5px 15px; line-height: 25px; vertical-align: middle;}
.dropdown-menu>li>a>i{ padding-right: 10px;}
.dropdown-menu>li>a:hover { background-color: rgba(249, 249, 249, 0.78);}
.pre-loader-bg{background:rgba(39, 39, 39, 0.5); position: fixed; z-index: 99999;  width: 100%; height: 100%; }

legend {    border-bottom: 1px solid #e5e5e5;}
/*legend > button { float: right !important; margin: -5px !important; padding: 8px 15px !important; }*/
.form-group{ padding-bottom: 0px; margin: 0px 0 0 0; }
.alert.alert-info { background-color: #1e88e5; }
.alert.alert-default { background-color: #757575; }
.custom-hr { margin-top: 0px;}
