<table *ngIf="jogos?.length > 0">
  <thead>
    <tr>
      <th>Mandante</th>
      <th>Visitante</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of jogos">
      <td> {{ item.mandante }}</td>
      <td> {{ item.visitante }}</td>
      <td *ngFor="let options of controlsEvent">
        <a (click)="control(item, options)">{{ options.name }}</a>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="jogos?.length <= 0">
  Não existe jogo Hoje
</div>

<!--<p>{{ jogos | json }}</p>-->