
<div class="row text-center scoreboard" *ngFor="let item of games">
  <!--<span>16:00</span>-->
  <div class="col-xs-11">
    <div class="col-xs-5 time-mandante">
      <!--<span>WWWLD</span>
      <span>3º</span>-->
      <span class="text-time">{{ item.TeamPrincipal }}</span>
    </div>
    <div class="col-xs-2 resultado">
      <!--<span class="placar-mandante">1</span>-->
      <span class="placar">X</span>
      <!--<span class="placar-visitante">2</span>-->
    </div>
    <div class="col-xs-5 time-visitante">
      <span class="text-time">{{ item.TeamVisitor }}</span>
      <!--<span>1º</span>
      <span>WWWLD</span>-->
    </div>
  </div>

  <div class="col-xs-1">
    <div class="scoreboard-button">
      <a href="javascript:void(0)" data-target="#" data-toggle="dropdown">
        <i class="material-icons md-18">more_vert</i>
      </a>
      <ul class="dropdown-menu pull-right">
        <li *ngFor="let options of controlsEvent">
          <a href="javascript:void(0)" (click)="control(item, options)">
              <i class="material-icons md-18">{{ options.icon }}</i>
              <span>{{ options.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="games?.length <= 0">
  Não existe jogo Hoje
</div>
