<div class="modal" id="modalTips" tabindex="-1" data-keyboard="false" role="dialog" data-toggle="modal" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

      </div>
      <div class="modal-body">

        <form class="col-xs-12" novalidate [formGroup]="tipModel">

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="form-group">
                <label for="ddlMarket" class="control-label">Escolha o mercado</label>
                <select id="ddlMarket" class="form-control" type="number" formControlName="MarketID">
                    <option *ngFor="let item of lstMarket" [ngValue]="item.MarketID">
                        {{item.Description}}
                    </option>
                </select>
                <display-validation [control]="tipModel.controls.MarketID"></display-validation>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="form-group">
                <label for="txtOdds" class="control-label">Odds</label>
                <input id="txtOdds" type="text" class="form-control" formControlName="Odds" />
                <display-validation [control]="tipModel.controls.Odds"></display-validation>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="form-group">
                <label for="txtValue" class="control-label">Valor</label>
                <input type="text" class="form-control" id="txtValue" formControlName="Value" />
                <display-validation [control]="tipModel.controls.Value"></display-validation>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="pull-right">
                <button class="btn btn-primary pull-right" [disabled]="!tipModel.valid" (click)="addTip(tipModel.value)">Adicionar</button>
              </div>
            </div>
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <fieldset>
              <legend>Lista de palpites</legend>

              <table class="table table-striped table-hover" *ngIf="lstTips?.length > 0">
                <thead>
                  <tr>
                    <th>Mercado</th>
                    <th>Odds</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of lstTips">
                  <tr>
                    <td> {{ item.Market }}</td>
                    <td> {{ item.Odds }}</td>
                    <td> {{ item.Value }}</td>
                  </tr>
                </tbody>
              </table>

              <div *ngIf="lstTips?.length <= 0">
                <div class="alert alert-dismissible alert-default">
                  <span><strong>Não</strong> existe nenhum palpite para este jogo.</span>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="material-icons">clear</i>&nbsp;Fechar</button>
        <button type="button" class="btn btn-primary" [disabled]="lstTips?.length <= 0"><i class="material-icons">done</i>&nbsp;Gravar</button>
      </div>
    </div>
  </div>
</div>
